.app-container {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 5px;
}

.app-heading {
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
